<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>com.mycompany.ecomproj.servlet.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryToDB</servlet-name>
        <servlet-class>com.mycompany.ecomproj.servlet.AddCategoryToDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryFromDB</servlet-name>
        <servlet-class>com.mycompany.ecomproj.servlet.DeleteCategoryFromDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoryToDB</servlet-name>
        <servlet-class>com.mycompany.ecomproj.servlet.UpdateCategoryToDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductToDB</servlet-name>
        <servlet-class>com.mycompany.ecomproj.servlet.AddProductToDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductFromDB</servlet-name>
        <servlet-class>com.mycompany.ecomproj.servlet.DeleteProductFromDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductToDB</servlet-name>
        <servlet-class>com.mycompany.ecomproj.servlet.UpdateProductToDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartFromDB</servlet-name>
        <servlet-class>com.mycompany.ecomproj.servlet.DeleteCartFromDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserAddressToDB</servlet-name>
        <servlet-class>com.mycompany.ecomproj.servlet.UpdateUserAddressToDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserToDB</servlet-name>
        <servlet-class>com.mycompany.ecomproj.servlet.AddUserToDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserToDB</servlet-name>
        <servlet-class>com.mycompany.ecomproj.servlet.UpdateUserToDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>com.mycompany.ecomproj.servlet.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.mycompany.ecomproj.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>com.mycompany.ecomproj.servlet.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQty</servlet-name>
        <servlet-class>com.mycompany.ecomproj.servlet.UpdateQty</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryToDB</servlet-name>
        <url-pattern>/AddCategoryToDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryFromDB</servlet-name>
        <url-pattern>/DeleteCategoryFromDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoryToDB</servlet-name>
        <url-pattern>/UpdateCategoryToDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductToDB</servlet-name>
        <url-pattern>/AddProductToDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductFromDB</servlet-name>
        <url-pattern>/DeleteProductFromDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductToDB</servlet-name>
        <url-pattern>/UpdateProductToDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartFromDB</servlet-name>
        <url-pattern>/DeleteCartFromDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserAddressToDB</servlet-name>
        <url-pattern>/UpdateUserAddressToDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserToDB</servlet-name>
        <url-pattern>/AddUserToDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserToDB</servlet-name>
        <url-pattern>/UpdateUserToDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQty</servlet-name>
        <url-pattern>/UpdateQty</url-pattern>
    </servlet-mapping>
</web-app>
